.main {
  width: 100%;

  .tabs {
    position: relative;
    z-index: 4;
    padding: 7px 10px;
    gap: 6px;
    border-bottom: 2px solid var(--initial);
    background-color: var(--white-1);

    .tab {
      width: 100%;
      gap: 5px;
      border: none;

      img {
        width: 25px;
      }
    }
  }
}